
	   <div class="card">
  <div class="card-body">
	{{BurgerName}}

	<button class="change btn btn-sm btn-primary"  data-id="{{id}}" data-eaten="{{newDevoured}}">
		{{#if devoured}}Yummy!{{else}}Eat It!{{/if}}
	</button>
	<button class= "delete btn btn-sm btn-primary delete-burger" data-id= "{{this.id}}">Delete</button>
  </div>
	   </div>
